<code>
    <hmtl>
    <head>

        <meta charset="utf-8">
        <title>Zoolandia_afficheTickets</title>
        <link rel="stylesheet" href="afficheListeTickets.css">
        
    </head>
    <body>
        <header>
            <div class="image">
                <center>
                <img src="zoolandiaTicket.png" alt="center" style="height: 350px; width: 350px;">
                </center>
            </div>
        </header>
        <br>
        <br>
        <div class="sidenav">
            
                
                
            <a href="index.php"><img src="accueil_logo.jfif" style="float:right;height: 70 px;width: 70px;"></a>
            
        </div>
        <h1 style="text-align:center">You are searching for a specific Ticket</h1>
        <center>
        
        <br>
        <br>
        <br>
        <div class=form>
            <form id="form" method="GET" action="./afficherTicket.php">
                <input name='id' type="search" id="id" 
                    placeholder="id" value="id"
                    aria-label="Search through site content">
                <button>Search</button>
                
            </form>
           
        </div>
        
        <sall>If the current Ticket is solved please fill the form below</small>
        <br>
        <br>
        <div class=form2>
            <form id="form" method="GET" action="./modifierTicket.php">
                <input name='id' type="search" id="id" 
                    placeholder="id" value="id"
                    aria-label="Search through site content">
                <button>Solved</button>
                
            </form>
           
        </div>
        
         
        </center>
        <center>
            <div class="tableTickets">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Login</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Sector</th>
                        <th>Status</th>
                    </tr>  
                </thead>
                <tbody>
                    
                    
                    
                </tbody>
                

            </table>
        </div>
    </center>
    </body>
    </html>
</code>