    /*css du menu*/
    @import url(https://fonts.googleapis.com/css?family=Questrial); 
    .nav-outer {
    width: 100%;
    background: rgb(149, 189, 31);
    position: fixed !important;
    z-index: 100000000;
    }

    .nav {
    margin-top: 0;
    background: rgb(22, 156, 89)5;
    font-family: 'Questrial', sans-serif;
    }

    .nav ul {
        overflow: hidden;
        list-style: none;
    }

    .nav-button:hover {
    cursor: pointer;
    }

    .navigation {
    clear: both;
    width: 100%;
    position: relative;
    }

    .nav a {
    color: #F5F5F5;
    text-transform: uppercase;
    text-decoration: none;
    }

    body .nav .nav-menu li a {
    display:inline-block;
	margin-top: 10px;
	padding:15px 20px; 
    color: #F5F5F5;
    font-size: 19px;
    }  

    .nav .h1{
        text-transform: uppercase;
        float: center;
        font-size: 19px;
        vertical-align: middle;
        color: #F5F5F5;
        text-transform: uppercase;
        text-decoration: none;
    }



    .nav .nav-menu {
    text-align: center;
    overflow: visible;
    min-height: 56px;
    min-width: 600px;
    padding-left: 0;
    margin: 0;
    margin-top: 15px;
    display: table;
    float:left
    }

    @media (min-width: 823px) {
        .nav {
            float: center;
        }

        .logo_zoo {
            float: left;
        }
    }

    @media screen and (max-width: 823px) {
        body .nav .nav-menu li a {
            margin-top: 4px;
        }

        .logo_zoo img {
            max-width: 135px !important;
            margin-bottom: 3px;
        }   
    }

    .logo_zoo img {
    max-width: 175px;
    height: auto;
    margin-top: 7px;
    margin-left: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
    }

    .navigation:after {
    content: "";
    display: table;
    clear: both;
    }

    .nav .nav-menu li {
  
    display: table-cell;
    vertical-align: middle;
    }

/*----fin css menu----*/

/*global*/
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Titullium Web',sans-serif;
    background-color: rgba(120, 128, 10, 0.267);
    color:#FEFEFE;
}

footer{
    text-align: center;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.boite{
    margin: 20px;
    padding: 20px;
}

.head-Forum{
    margin-top: 20px;
}

.Forum-title{
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-description{
    margin-block: 0px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #111314;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-image{
    font-size: 10px;
}

/*pour les visiteurs sur smartphone la page serait mieux adapté*/
@media screen and (max-width:460px){
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }
    
    .subforum-column{
        padding: 10px;
        margin: 4px;
        border-radius: 5px;
        background-color: #111314;
    }
    
}


div#map{
    float: center;

}

div#sectors{

    float:inline-block;
    
    
    padding : 0;
    display: flex;


}

table,th,th{
    border : 2px solid rgb(223, 153, 88);
}

.Tableau img{
    width: 250px;
    height: 250px;
    
}

div#center-block{
    margin:0 auto;
    width: 12.5%;
    text-align: center;
}


.zoom {
  padding: 10px;
  
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

