
html{
    font-size: 14px;
    font-family: 'Titullium Web',sans-serif;
    background-color: rgba(214, 228, 20, 0.267);
    color:#FEFEFE;
}

div#center-block{
    margin:0 auto;
    width: 50%;
}

div#formTicket{
    align-items: center;
    float:center;
    display: flex;
    justify-content: center;
    background-color:  rgba(67, 71, 10, 0.267);
    width: 500px;
    height: 500px;
    text-decoration: none;
    
    border: 3px solid green;
    margin: 25px 25px 25px 25px;
}

button#submit{
    text-align: center;
    float: center;
    justify-content: center;
}

button#Connexion{
    text-align: center;
    float:center;
    justify-content: center;
}

div#feetform{
    text-align: center;
}

header#titre{
    text-align: center;
}

